*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

li{
    list-style: none;
}
.navbar{
  color: black;
}
p{
    font-size: 1.1em;
    line-height: 1.6;
    font-weight: 400;
    color: #3f3b3b;
    /* color: lightyellow; */
}
h1{
    font-size: 3.0rem;
}

.nav-item a{
    /* padding: 0 12px; */
    /* margin: 20px!important; */
    font-size: 15px;
    font-weight: bold;
}
/* .navbar{
    background: black;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0
} */

/* .container a{
    padding: 23px;
    width: 100%;
} */

.navbar-nav li{ 
    position: absolute;
    top: 29%;
    right: 7%
}

.container{
    margin-top: 23px;
}


.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)), url("../img/lp12.jpg");
    background-size: cover;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p{
  
    font-weight: 300;
    color: #fff;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 40%;
}


.box{
    padding: 15px ;
    /* position: relative; */
    display: flex;
}

.container .contactinfo .box .icon{
  width: 60px;
   height: 60px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   font-size: 22px;
   position: absolute;
   left:109px; 
}
.text{
    display: flex;
    font-size: 20px;
    color: #fff;

    flex-direction: column;
    font-weight: 300;
}
.text h3{
    font-weight: bold;
    color: #072529;
   
}
.contactform{
    position: absolute;
    right: 7%;
    top: 200px;
    width: 30%;
    padding: 30px;
    background: #fff;
    
}
.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: bold;
}
.contactform .inputtext{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputtext input,
.contactform .inputtext textarea
{
    width: 100%;
    padding: 6px 0;
    font-weight: bold;
    color: black;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputtext span{
    position: absolute;
    left: 0;
    padding: 6px 0;
    font-size: 16px;
    margin: 10px 0; 
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactform .inputtext input:focus ~ span,
.contactform .inputtext input:valid ~ span,
.contactform .inputtext textarea:focus ~ span,
.contactform .inputtext textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.btn
{
    width: 82px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 6px;
    font-size: 16px;
}
