*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)), url("../img/lp12.jpg");
    /* background: no-repeat; */
    background-size: cover;
 }
a{
    color: white;
    text-decoration: none;
}
.navbar-nav li a:hover{
    color: black;
    
}
.navbar-brand:hover{
    color: black;
}
.navbar{
    /* width: 100%; */
    cursor: pointer;
    position: relative;
    bottom: 5%;
    background: linear-gradient(  #3ccdbb 0%, #16c9f6 0%);   
    /* padding: 10px 0; */
 
}
.navbar-nav li{ 
    padding: 0 17px;
    
  }

.navbar :before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.1;
    background: linear-gradient(to left, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);   
}

.nav-item a{
    color: #fff;
    font-weight: bold;
}
.navbar-brand{
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
li{
    list-style: none;
}
p{
    font-size: 1.1em;
    line-height: 1.6;
    font-weight: 400;
    color: #3f3b3b;
    /* color: lightyellow; */
}
h1{
    font-size: 3.0rem;
}


      /* service section */
      .pricing{
        width: 100%;
        height: 150vh;
        padding: 50px;
        position: relative;
        /* color: #072529; */
        
    }
    /* .pricing h1{
    color: #072529;

    }
     */
    .pricing::before{
        content: "";
          position: absolute;
          top: 0%;
          bottom: 0%;
          right: 0;
          left: 0;
          z-index: -2;
          /* opacity: 0.4; */
          /* background: linear-gradient( #16c9f6 55%,#fff 0%); */
    }
    
    .money{
        font-size: 40px;
        line-height: 1;
        color: #606060;
    }
    .card{
        transition: 0.4s ease;
        /* position: absolute; */
        top: 60px;
    }
    
    .card-header{
        font-size: 1.6rem;
        font-weight: bold;
        background: #fff!important;
        padding: 25px 0px!important;
        
    }
    .card-body{
        padding: 30px 0!important;
        /* text-align: center; */
    }
    .card-body li{
        margin: 10px 0;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.6;
        color: #606060;
    }
    
    .card-footer{
        background: white!important;
        padding: 30px 0px!important;
        /* text-align: center;
        color: lightblue; */
    }
    
    .card-footer a{
        border: 1px  solid #50d1c0;
        border-radius: 100px;
        margin: 0px 5px;
        padding: 12px 35px;
        outline:none;
        color: #50d1c0;
        font-size: 1rem;
        font-weight: 400;
        list-style: 1.4;
        text-align: center;
    }
    
    .card:hover .card-footer a{
        color: #fff;
        background: #50d1c0;
        text-decoration: none;
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    }
    
    .card:hover{
        transform: translateY(-20px);
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    }
    .card:hover .card-header, .card:hover .money{
        color: #50d1c0;
    }
    .second-card{
        transform: translateY(-20px);
    }