html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    color: white;
    text-decoration: none;
}

li{
    list-style: none;
}
p{
    font-size: 1.1em;
    line-height: 1.6;
    font-weight: 400;
    color: #3f3b3b;
    /* color: lightyellow; */
}
h1{
    font-size: 3.0rem;
}

.nav-item a{
    /* padding: 0 12px; */
    /* margin: 20px!important; */
    font-size: 15px;
    font-weight: bold;
}

.navbar-nav li{ 
  padding: 0 17px;
  /* margin: 0px px!important; */
}
/* .logo img{
    width: 108px;
    margin-top: -25px;
    margin-left: 210px;
    /* filter: invert(); */
 
/* .navbar-brand{
    /* color: gray!important; */
    /* font-weight: bold; */
/* } */ 


.extra-div h2{
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: bold;
    word-spacing: 4px;
    margin: 20px 0 15px 0;
}
i{
    color: #2fccd0;
}

                                /* START */

.headers{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)),url('../img/lp12.jpg');
    background-repeat: no-repeat;
    clip-path: polygon(100% 0%,100% 77%,50% 100%, 0 75%,0% 0%);
    background-size: 100% 100%;
    position: relative;
}

.headers:before{
      content: "";
      position: absolute;
      top: 0%;
      bottom: 0%;
      right: 0;
      left: 0;
      z-index: -1;
      opacity: 0.1;
      background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.navbar::before{
    content: "";
      position: absolute;
      top: 0%;
      bottom: 0%;
      right: 0;
      left: 0;
      z-index: -2;
      opacity: 0.4;
      background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.nav-item a {
    color: #fff;
    font-weight: bold;
}

.header-section{
    width: 100%;
    align-items: center;
    height: inherit;
    position: relative;
    color: white;
    /* font-size: 3rem; */
}

.center-div{
    width: 100%;
    height: 72%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-content: center; */
    top: 0;
    left: 0;
    /* transform: translate(-50%,-50%); */
    /* -ms-transform: translate(-50%,-50%); */
    /* -webkit-transform: translate(-50%,-50%); */
}

.header-buttons a{
    border: 1px  solid white;
    border-radius: 100px;
    margin: 0px 5px;
    padding: 12px 35px;
    outline:none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    list-style: 1.4;
    text-align: center;
}

.header-buttons a:hover{
    color: #50d1c0;
    background: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.center-div p{
    font-size: 1.3rem;
    color: white;
    padding: 10px 0 20px 0px;
}

                        /* EXTRA DIV SECTION */
 .header-extradiv{
     width: 100%;
     height: auto;
     margin: 100px 0;
     text-align: center;
 }
 .extra-div{
     background: #fff;
     border: none;
     padding: 50px!important;
     border-radius: 3px;
     transition: 0.3s;
     cursor: pointer;
 }
.extra-div:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
    background: white;
    border-radius: 18px;

}

     /* OFFER SECTION START */

     /* .containerhtml{
         margin-left: 23px;
     } */
  .serviceoffer{
      background: #f7f7f9;
      padding: 50px 0;
      margin-bottom: 50px;
  }   

  .headings{
      margin-bottom: 50px;
  }

  .headings h1{
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
  }
  .names h1{
      color: #2e2e2e;
      font-size: 0.9rem;
      font-weight: bold;
      text-transform: uppercase;
  }

.servicediv h2{
    font-size: 0.9rem;
    line-height: 1.1;
    font-weight: bold;
    word-spacing: 4px;
    margin: 20px 0 15px 0;

}
.service-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress{
    height: 0.6!important;
    margin-bottom: 25px!important;
    margin-right: 100px!important;
}

               /* PROJECT SECTION */
.project-work{
    margin: 100px 0;
}

.project-work h1{
    font-size: 2rem;
    text-align: center;
}



/* OUR PRICING START */

.pricing{
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
}

.pricing::before{
    content: "";
      position: absolute;
      top: 0%;
      bottom: 0%;
      right: 0;
      left: 0;
      z-index: -2;
      /* opacity: 0.4; */
      background: linear-gradient( 160deg,#16c9f6 55%,#fff 0%);
}

.money{
    font-size: 40px;
    line-height: 1;
    color: #606060;
}
.card{
    transition: 0.4s ease;
}

.card-header{
    font-size: 1.6rem;
    font-weight: bold;
    background: #fff!important;
    padding: 25px 0px!important;
}
.card-body{
    padding: 30px 0!important;
    /* text-align: center; */
}
.card-body li{
    margin: 10px 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    color: #606060;
}

.card-footer{
    background: white!important;
    padding: 30px 0px!important;
    /* text-align: center;
    color: lightblue; */
}

.card-footer a{
    border: 1px  solid #50d1c0;
    border-radius: 100px;
    margin: 0px 5px;
    padding: 12px 35px;
    outline:none;
    color: #50d1c0;
    font-size: 1rem;
    font-weight: 400;
    list-style: 1.4;
    text-align: center;
}

.card:hover .card-footer a{
    color: #fff;
    background: #50d1c0;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.card:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.card:hover .card-header, .card:hover .money{
    color: #50d1c0;
}
.second-card{
    transform: translateY(-20px);
}
                                             /* clients feedback section */
.happyclients{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
}
.box{
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    transition: 0.3s ease;
}
.box:hover{
    background: #16c9f6;
}

.box:hover p{
    color: white;
}
.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: -60px!important;
}
.carousel-indicators li {
    cursor: pointer;
    background-color: #16c9f6!important;
}
.box a{
    position: relative;
}
.box a img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

.box a:after{
    content: "\f10d";
    font-family: FontAwesome;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    color: white;
    position: absolute;
    top: 130%;
    left: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box h1{
    font-size: 18px;
    font-weight: 700px;
    color: #000;
    margin-bottom: 10px;

}
.box h2{
    font-size: 13px;
    font-weight: 400px;
    color: #666666;
    margin-bottom: 20px;
}

/* .box a i{
    width: 50%;
} */
.join{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
}
.card-body{
    
    /* border: 1px solid rgba(0,0,0,0.2); */
    border-radius: 3px;
    /* box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3); */
    transition: 0.3s ease;
}
.card-body h5{
    color: rgb(10, 10, 10);
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
}
.card-body p{
    font-size:1.2rem ;
    line-height: 1.6;

}
.join a{
    /* position: relative; */
   margin-left: 85%;
   position: absolute;
    bottom: 35%;
    right: 5%;
   /* margin-top: 400px; */
    /* display: flex; */
    /* justify-content: right; */
    text-align: right;
    /* align-items: right; */
}

/* .card-body:hover{
    background: #16c9f6;
} */

/* .card-body:hover p{
    color: gray;
} */
                                /* contact us start */
.Contactus{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    position: relative;

}
.Contactus::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(330deg,#16c9f6 55%,#fff 0%);
    z-index: -1;
}
.form-button button{
    border: 1px  solid #50d1c0;
    border-radius: 100px;
    margin: 0px 5px;
    padding: 12px 35px;
    outline:none;
    color: #50d1c0;
    font-size: 1rem;
    font-weight: 400;
    list-style: 1.4;
    text-align: center;
    background: transparent;
}
form:hover .form-button button{
    background: #fff;
    color: #50d1c0;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
::placeholder{
    font-size: 0.85rem;
}


   
                                /* contact us end */
                                /* newsletter start */
.newsletter{
    width: 100%;
    height: auto;
    margin: 80px auto;
}         
.news-input{
    border-radius: 100px 0px 0px 100px!important;
    min-width: 150px;
    min-height: 45px;
}                     
.input-group-text{
    color: #fff;
    background: #5bc0de;
    border-radius: 0px 100px 100px 0px !important;
    min-width: 120px;
    min-height: 40px;
}
                                /* newsletter end */

                                /* footer section start */
.footersection{
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0;
    background: #00abff;
    position: relative;

}                           
.footersection p{
    color: #fff;
}   
.footersection li a{
    font-size: 0.9rem;
    line-height: 1.6rem;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;

} 
.footersection h3{
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
    font-size: 1.2rem!important;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
#mtBtn{
    /* display: none; */
    position: fixed;
    bottom:40px;
    right: 40px;
    z-index: 99;
    border: none;
    color: #fff;
    background: #00abff;
    padding: 10px;
    border-radius: 10px;
}
#mtBtn:hover{
   background: #606060;
}

                                /* footer section end */

                                /* media queries */

@media(max-width: 768px){
    .nav-item{
        text-align: center!important;
    }
    .pricing,.happyclients,.Contactus{
        height: auto;
        margin-top: 50px;
    }
    .second-card{
        transform:translateY(0px) ;
        margin: 30px 0;
    }
    .footer-div:nth-child(2){
        text-align: left!important;
    }
    .footer-div{
        margin: 30px 0;
    }
}














































